# Predict Future Sales

#### Final project for "How to win a data science competition" Coursera course
Kaggle Link : https://www.kaggle.com/c/competitive-data-science-predict-future-sales/code

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##### Let's import the below different data set's

    sales_train.csv - the training set. Daily historical data from January 2013 to October 2015.
    test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.
    sample_submission.csv - a sample submission file in the correct format.
    items.csv - supplemental information about the items/products.
    item_categories.csv  - supplemental information about the items categories.
    shops.csv- supplemental information about the shops.

In [4]:
#Sales Train Date set
train_df=pd.read_csv("E:\ML - Date Sets\Predict Future Sales\sales_train.csv")
# Test data set
test_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\test.csv")
#Sample submission
sub_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\sample_submission.csv")
#Shops data
shops_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\shops.csv")
#items data
items_df=pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\items.csv")
#items category data
items_cat_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\item_categories.csv")

##### Let's have a look at the shape of these datesets one by one

In [25]:
print("Train data shape               :",train_df.shape)
print("Test data shape                :",test_df.shape)
print("Sample data shape              :",sub_df.shape)
print("Shops data shape               :",shops_df.shape)
print("Items data shape               :",items_df.shape)
print("Items categories data shape    :",items_cat_df.shape)

Train data shape               : (2935849, 6)
Test data shape                : (214200, 3)
Sample data shape              : (214200, 2)
Shops data shape               : (60, 2)
Items data shape               : (22170, 3)
Items categories data shape    : (84, 2)

##### Check all the data sets for any null values

In [27]:
print("Null values in Train data set             :",train_df.isnull().sum().sum())
print("Null values in Test data set              :",test_df.isnull().sum().sum())
print("Null values in Sample data set            :",sub_df.isnull().sum().sum())
print("Null values in Shops data set             :",shops_df.isnull().sum().sum())
print("Null values in Items data set             :",items_df.isnull().sum().sum())
print("Null values in Items categories data set  :",items_cat_df.isnull().sum().sum())

Null values in Train data set             : 0
Null values in Test data set              : 0
Null values in Sample data set            : 0
Null values in Shops data set             : 0
Null values in Items data set             : 0
Null values in Items categories data set  : 0

In [17]:
train_df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

(214200, 3)