# Predict Future Sales

#### Final project for "How to win a data science competition" Coursera course
Kaggle Link : https://www.kaggle.com/c/competitive-data-science-predict-future-sales/code

Reference Kaggle project link : https://www.kaggle.com/mragpavank/predict-future-sales

https://www.kaggle.com/prachi0427/predict-future-sale

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##### Let's import the below different data set's

    sales_train.csv - the training set. Daily historical data from January 2013 to October 2015.
    test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.
    sample_submission.csv - a sample submission file in the correct format.
    items.csv - supplemental information about the items/products.
    item_categories.csv  - supplemental information about the items categories.
    shops.csv- supplemental information about the shops.

#Macbook dataset path

In [2]:
#Sales Train Date set
train_df=pd.read_csv("/Volumes/Sarun/ML - Date Sets/Predict Future Sales/sales_train.csv")
# Test data set
test_df = pd.read_csv(r"/Volumes/Sarun/ML - Date Sets/Predict Future Sales/test.csv")
#Sample submission
sub_df = pd.read_csv(r"/Volumes/Sarun/ML - Date Sets/Predict Future Sales/sample_submission.csv")
#Shops data
shops_df = pd.read_csv(r"/Volumes/Sarun/ML - Date Sets/Predict Future Sales/shops.csv")
#items data
items_df=pd.read_csv(r"/Volumes/Sarun/ML - Date Sets/Predict Future Sales/items.csv")
#items category data
items_cat_df = pd.read_csv(r"/Volumes/Sarun/ML - Date Sets/Predict Future Sales/item_categories.csv")

#Windows dataset path

In [2]:
#Sales Train Date set
train_df=pd.read_csv("E:\ML - Date Sets\Predict Future Sales\sales_train.csv")
# Test data set
test_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\test.csv")
#Sample submission
sub_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\sample_submission.csv")
#Shops data
shops_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\shops.csv")
#items data
items_df=pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\items.csv")
#items category data
items_cat_df = pd.read_csv(r"E:\ML - Date Sets\Predict Future Sales\item_categories.csv")

##### Let's have a look at the shape of these datesets one by one

In [3]:
print("Train data shape               :",train_df.shape)
print("Test data shape                :",test_df.shape)
print("Sample data shape              :",sub_df.shape)
print("Shops data shape               :",shops_df.shape)
print("Items data shape               :",items_df.shape)
print("Items categories data shape    :",items_cat_df.shape)

Train data shape               : (2935849, 6)
Test data shape                : (214200, 3)
Sample data shape              : (214200, 2)
Shops data shape               : (60, 2)
Items data shape               : (22170, 3)
Items categories data shape    : (84, 2)

##### Check all the data sets for any null values

In [4]:
print("Null values in Train data set             :",train_df.isnull().sum().sum())
print("Null values in Test data set              :",test_df.isnull().sum().sum())
print("Null values in Sample data set            :",sub_df.isnull().sum().sum())
print("Null values in Shops data set             :",shops_df.isnull().sum().sum())
print("Null values in Items data set             :",items_df.isnull().sum().sum())
print("Null values in Items categories data set  :",items_cat_df.isnull().sum().sum())

Null values in Train data set             : 0
Null values in Test data set              : 0
Null values in Sample data set            : 0
Null values in Shops data set             : 0
Null values in Items data set             : 0
Null values in Items categories data set  : 0

In [5]:
train_df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [6]:
train_df.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

Since date in train data set is object, lets convert it in to datetime format and update the data set

In [8]:
train_df['date']=pd.to_datetime(train_df['date'],errors='coerce')

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            datetime64[ns]
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 134.4 MB

In [10]:
#Drop the date_block_num & item_price coulmns from the data frame which are not releavant
train_df.drop(['date_block_num','item_price'],axis = 1, inplace = True)

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   shop_id       int64
 2   item_id       int64
 3   item_cnt_day  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 89.6 MB

In [12]:
#Change the date format to year - month
train_df['date'] = pd.to_datetime(train_df['date'], dayfirst=True)
train_df['date'] = train_df['date'].apply(lambda x: x.strftime('%Y-%m'))
train_df.head()

      date  shop_id  item_id  item_cnt_day
0  2013-02       59    22154           1.0
1  2013-03       25     2552           1.0
2  2013-05       25     2552          -1.0
3  2013-06       25     2554           1.0
4  2013-01       25     2555           1.0

In [13]:
#group the columns of date, shop_id, item_id and then draw pivot table with item_cnt_day
df = train_df.groupby(['date','shop_id','item_id']).sum()

Trainning Data

In [14]:
train_data = train_df.pivot_table(index=['shop_id','item_id'],columns='date',values='item_cnt_day',fill_value=0)
train_data.reset_index(inplace=True)
train_data.head()

date,shop_id,item_id,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,...,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12
0,0,30,0.000000,3.444444,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,31,0.000000,1.571429,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,32,1.333333,1.500000,2.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,33,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,35,1.000000,1.200000,0.0,1.0,0.0,2.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Testing Data

In [15]:
test_df.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [16]:
test_data = pd.merge(test_df, train_data, on = ['shop_id', 'item_id'], how = 'left')
test_data.drop(['ID', '2013-01'], axis =1, inplace=True)
test_data= test_data.fillna(0)
test_data.head()

,shop_id,item_id,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,...,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12
0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,5,5320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.5,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5,5268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

###### Model Building

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [18]:
Y_train = train_data['2015-10'].values
X_train = train_data.drop(['2015-10'], axis = 1)
X_test = test_data

In [19]:
x_train, x_test, y_train, y_test = train_test_split( X_train, Y_train, test_size=0.2, random_state=101)

###### Linear Regression

In [20]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train,y_train)

print('Train set mse:', mean_squared_error(y_train, LR.predict(x_train)))
print('Test set mse:', mean_squared_error(y_test, LR.predict(x_test)))
print('Test set score:', LR.score(x_train,y_train))

Train set mse: 0.23334085087391776
Test set mse: 0.12783853813861504
Test set score: 0.7822521823459656

In [21]:
prediction_lr=LR.predict(X_test)

In [22]:
print(prediction_lr)

[ 0.53613662  0.01363818  0.35111046 ...  0.44362067  0.00655399
 -0.08270786]

###### Ridge Regression

In [23]:
from sklearn import linear_model
rid = linear_model.Ridge(alpha=.5)

rid.fit(x_train,y_train)

print('Train set mse:', mean_squared_error(y_train, rid.predict(x_train)))
print('Test set mse:', mean_squared_error(y_test, rid.predict(x_test)))
print('Test set score:', rid.score(x_train,y_train))

Train set mse: 0.23334085088195988
Test set mse: 0.1278379726697384
Test set score: 0.7822521823384608

In [24]:
prediction_rid =rid.predict(X_test)

###### Lasso Regression

In [25]:
lasso = linear_model.Lasso(alpha=0.1)

lasso.fit(x_train,y_train)

print('Train set mse:', mean_squared_error(y_train, lasso.predict(x_train)))
print('Test set mse:', mean_squared_error(y_test, lasso.predict(x_test)))
print('Test set score:', lasso.score(x_train,y_train))

Train set mse: 0.28217420792106634
Test set mse: 0.11928220750189057
Test set score: 0.7366821208418938

In [26]:
prediction_lasso = lasso.predict(X_test)

###### Random Forest Regressor

In [27]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(n_estimators = 100)
RFR.fit(x_train,y_train)

print('Train set mse:', mean_squared_error(y_train, RFR.predict(x_train)))
print('Test set mse:', mean_squared_error(y_test, RFR.predict(x_test)))
print('Test set score:', RFR.score(x_train,y_train))

Train set mse: 0.14075377785428864
Test set mse: 0.2551597231692818
Test set score: 0.868652111966058

In [28]:
prediction_rfr = RFR.predictedict(X_test)

###### Voting Regressor

In [29]:
from sklearn.ensemble import VotingRegressor

model= VotingRegressor([("Linear Regression",LR),
                        ("Ridge Regression",rid),
                        ("Lasso Regression",lasso),
                        ("Random Forest Reressor",RFR)
                        ])

model.fit(x_train,y_train)

print('Train set mse:', mean_squared_error(y_train, model.predict(x_train)))
print('Test set mse:', mean_squared_error(y_test, model.predict(x_test)))
print('Test set score:', model.score(x_train,y_train))

Train set mse: 0.17161560626302216
Test set mse: 0.11405534727278384
Test set score: 0.8398526293223347

###### Gradient Boosting Regressor

In [30]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()

gbr.fit(x_train, y_train)

print('Train set mse:', mean_squared_error(y_train, gbr.predict(x_train)))
print('Test set mse:', mean_squared_error(y_test, gbr.predict(x_test)))
print('Test set score:', gbr.score(x_train,y_train))

Train set mse: 0.0912514415144836
Test set mse: 0.3070833790023012
Test set score: 0.9148464481330794

###### Hyper Parameter Tuning of Gradient Boosting Regressor

In [31]:
from sklearn.model_selection import RandomizedSearchCV
params = {
    "learning_rate": [0.05,0.10,0.15,0.20,0.25,0.30],
    "max_depth": range(5,21,2),
    "n_estimators" : range(20,101,10),
    'min_samples_split':range(200,1001,200),
    'min_samples_leaf':range(30,71,10)
}

from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()

random_search = RandomizedSearchCV(gbr, param_distributions =params ,n_iter =5 ,n_jobs=-1,cv=5,verbose = 3)
random_search.fit(x_train,y_train)

print('Train set mse:', mean_squared_error(y_train, random_search.predict(x_train)))
print('Test set mse:', mean_squared_error(y_test, random_search.predict(x_test)))
print('Test set score:', random_search.score(x_train,y_train))

Fitting 5 folds for each of 5 candidates, totalling 25 fits
Train set mse: 0.9171119526263913
Test set mse: 0.10722500886627052
Test set score: 0.1441741748994847

In [32]:
prediction = random_search.predict(X_test)

Submission File

In [33]:
prediction = list(map(round, prediction))

sub_df['item_cnt_month'] = prediction
sub_df.to_csv('prediction.csv', index=False)
sub_df.head()

   ID  item_cnt_month
0   0               0
1   1               0
2   2               0
3   3               0
4   4               0